/* Styles scoped to the specific component. */

.search-result {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 200px;
  height: 32px;
  padding: 5px;
  background-color: white;
  cursor: pointer;

  &:hover {
    color: #eee;
    background-color: #607d8b;
  }
}

#search-box {
  width: 200px;
  height: 20px;
}
